@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);

body {
  font-family: 'Merriweather', serif;
}

.tint-a {
  background-color: #00A3C6;
}

.tint-b {
  background-color: #E4E4E9;
}

.tint-c {
  background-color: #65C8DF;
}

.tint-d {
  background-color: #0C73B8;
}

.tint-e {
  background-color: #75767B;
}

.tint-f {
  background-color: #87B9D9;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.mobile-only {
  display: block;
}

.tiles {
  color: #FFF;
  flex-flow: row wrap;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0 10px 10px 0;
    min-height: 300px;

    .circle-arrow:after {
      font-family: FontAwesome;
      content: " \f18e";
    }

    div.tile-detail,
    img {
      width: 100%;
      flex: 1;
    }

    div.tile-detail {
      display: flex;
      flex-basis: 12%;
    }

    div.tile-detail span {
      display: block;
      flex: 1;

      &.strapline {
        font-size: 16px;
      }

      &.qty {
        font-size: 36px;
      }
    }

    &.tile-one-quarter {
      flex: 1;

      .tile-detail {
        flex-direction: column;
      }
    }

    &.tile-one-half {
      flex: 2;

      span.strapline {
        flex: 2;
      }
    }

    &.wrap {
      min-height: 1px;
      flex-basis: 100%;
    }

    a {
      color: #FFF;
      display: flex;
      flex-direction: column;
      text-decoration: none;
    }
  }
}
@media only screen and (min-width:768px) {
  .container {
    width: 800px;
  }

  .mobile-only {
    display: none;
  }
}
