<link rel="stylesheet"
  href="index.css" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />
<div class="container">
  <ul class="tiles">
    <li class="tile-one-quarter tint-a">
      <a href="http://#">
        <img src="http://placehold.it/150x150" />
        <div class="tile-detail">
          <span class="strapline">Average Class</span>
          <span class="qty circle-arrow">50</span>
        </div>
      </a>
    </li>
    <li class="tile-one-quarter tint-b">
      <a href="http://#">
        <div class="tile-detail">
          <span class="strapline">Average Age</span>
          <span class="qty circle-arrow">28</span>
        </div>
        <img src="http://placehold.it/150x150" />
      </a>
    </li>
    <li class="wrap mobile-only"></li>
    <li class="tile-one-half tint-c">
      <a href="http://#">
        <div class="tile-detail">
          <span class="qty">6125</span>
          <span class="strapline">Companies recruited graduates</span>
        </div>
        <img src="http://placehold.it/150x150" />
      </a>
    </li>
    <li class="wrap"></li>
    <li class="tile-one-half tint-d">
      <a href="http://#">
        <img src="http://placehold.it/150x150" />
        <div class="tile-detail">
          <span class="qty">9</span>
          <span class="strapline">Average years of work experience</span>
        </div>
      </a>
    </li>
    <li class="wrap mobile-only"></li>
    <li class="tile-one-quarter tint-e">
      <a href="http://#">
        <div class="tile-detail">
          <span class="strapline">Average Class</span>
          <span class="qty">50</span>
        </div>
        <img src="http://placehold.it/150x150" />
      </a>
    </li>
    <li class="tile-one-quarter tint-f">
      <a href="http://#">
        <img src="http://placehold.it/150x150" />
        <div class="tile-detail">
          <span class="strapline">Average Age</span>
          <span class="qty">28</span>
        </div>
      </a>
    </li>
  </ul>
</div>
